[build]
  publish = "."
  command = "npm install"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/car-rental.html"
  status = 200